{% extends "base.html.twig" %}

{% block title %}Nos biens
{% endblock %}

{% block body %}
	<div class='container mt-4'>
		<h1>Biens!!!</h1>
		<p>Hac ex causa conlaticia stipe Valerius humatur ille Publicola et subsidiis amicorum mariti inops cum liberis uxor alitur Reguli et dotatur ex aerario filia Scipionis, cum nobilitas florem adultae virginis diuturnum absentia pauperis erubesceret patris.

		</p>
	</div>


{% endblock %}
